specyfikacja\ funkcjonalna/*
!specyfikacja\ funkcjonalna/*.tex
!specyfikacja\ funkcjonalna/*.pdf
!specyfikacja\ funkcjonalna/images/*

specyfikacja_implementacyjna/*
!specyfikacja_implementacyjna/*.tex
!specyfikacja_implementacyjna/*.pdf
!specyfikacja_implementacyjna/images/*